{% include "head.html" %}
<body>
    {% include "navbar.html" %}
    <style>
        label{
            min-width: 120px;
        }
    </style>
    <div class="container">
        <h1 style="margin: auto; width: fit-content;" class="mt-5">
            {% if is_modification %}
                Modify Check
            {% else %}
                Create a new Check
            {% endif %}
        </h1>
        <div class="form-container">
            <hr style="mt-3">
            <div class="errors w-100" style="color: red !important;">
            {% if form.errors %}
                {{ form.errors }}
            {% endif %}
            </div>
            <form class="mt-4" method="POST" action="/create-modify">


                {{ form.hidden_tag() }}
                    {{ form.csrf_token }}
                {{ form.uuid_hidden }}
                {{ form.url.label }}

                {% if is_modification %}
                {{ form.url(size=20, disabled=True) }}
                {% else %}
                {{ form.url(size=20) }}
                {% endif %}

                </br>
                {{ form.recursive.label }}  {{ form.recursive() }}        </br>

                {% if is_modification %}
                <input class="form-button mt-4" type="submit" value="Send Modification">
                {% else %}
                <input class="form-button mt-4" type="submit" value="Create">
                {% endif %}
            </form>
        </div>
    </div>
</body>
</html>
