{% include "head.html" %}
<html>
    <body>
        {% include "navbar.html" %}
        <div class="container">

            <script>
                function sleep(ms) {
                    return new Promise(resolve => setTimeout(resolve, ms));
                }
                function set_disabled_state(){ # TODO
                    fetch("/report", {
                                    headers: {
                                      'Accept': 'application/json',
                                      'Content-Type': 'application/json'
                                    },
                                    method: "POST",
                                    body: JSON.stringify({
                                        "disabled" : true, # TODO
                                    }
                    }).then( () => {
                        sleep(1000).then( () => {
                            window.location.reload()
                        })
                    }).catch( () => {
                        alert("Submission failed, see console for details.")
                    })
                }
            </script>

            <h2 class="service-name">Service: {{ service.url }}</h2>

            <!-- buttons -->
            <a class="service-info-button mt-3" style="background-color: orange;"
                href="/entry-form?service={{ service.service }}">Modify</a>
            <a class="service-info-button mt-3" style="background-color: red;"
                href="/entry-form?service={{ service.service }}&operation=delete">Delete</a>

            <button style="clear: both;" class="last-status hover mr-3" onclick="submit_manual()">
                <p style="color: darkred;">Set disabled state TODO</p>
            </button>

            <!-- last status -->
            <div class="last-status">
                {% if status_list | length > 0 %}
                <p class="{{ status_list[0].status }}">
                    {{ status_list[0].check_is_failed }} submitted on {{ status_list[0].human_date() }}
                </p>
                {% else %}
                <p style="color: darkred;">No status for this service submitted</p>
                {% endif %}
            </div>

            <!-- status list -->
            <table>
                <tbody class="mt-2">
                    {% for status in status_list %}
                    <tr>
                        <td>{{ status.human_date()  }}</td>
                        <td class="{{ status.status }}">{{ status.status }}</td>
                        <td>{{ status.info_text     }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </body>
</html>
